<footer class="footer bg-dark py-3 px-3 mt-auto d-flex" data-bs-theme="dark">
    <div class="container">
        <span class="text-muted">Ryan K Renjith</span>
    </div>
    <div>
        <div style="font-size: large;">
            <a href="https://github.com/Ryan-Renjith" style="text-decoration: none;">
                <ion-icon name="logo-github" class="mx-1"></ion-icon>
            </a>
            <a href="https://www.linkedin.com/in/ryan-renjith-a4b86919b/" style="text-decoration: none;">
                <ion-icon name="logo-linkedin" class="mx-1"></ion-icon>
            </a>
            <a href="https://twitter.com/RyanRenjith" style="text-decoration: none;">
                <ion-icon name="logo-twitter" class="mx-1"></ion-icon>
            </a>
        </div>
    </div>
</footer>



