<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger my-5 text-center" role="alert">
      <h4 class="alert-heading"><%= message %></h4>
      <p>Status Code : <%= statusCode %></p>
    </div>
  </div>
</div>

