<% layout('layouts/boilerplate') %>
    
<h1>Go-Kart Tracks</h1>

<ul>
    <% for(let tracks of kartingTracks) { %>
    <li><a href="/kartTracks/<%= tracks._id %>"><%= tracks.name %></a></li>
    <% } %>
</ul>
