<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3"> <%# Total 12 cols in css grid system. Col of length 6 and offset 3 to center it %>
        <h1 class="text-center">New Track</h1>

        <form class="mb-3 validatedForm" action="/kartTracks" method="POST" novalidate enctype="multipart/form-data">
        <div class="mb-3">
            <label class="form-label" for="name">Name</label>
            <input class="form-control" type="text" id="name" name="kartingTrack[name]" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                This field is required!
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input class="form-control" type="text" id="location" name="kartingTrack[location]" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                This field is required!
            </div>
        </div>
        
        <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea class="form-control" type="text" id="description" name="kartingTrack[description]" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="invalid-feedback">
                This field is required!
            </div>
        </div>

        <div class="mb-3">
            <label for="formFileMultiple" class="form-label">Upload Images</label>
            <input class="form-control" type="file" name="kartingTrack[images]" id="formFileMultiple" multiple>
        </div>

        <div class="mb-4">
            <label class="form-label" for="price">Price</label>
            <div class="input-group">
                <span class="input-group-text" id="price">&#8377;</span>
                <input type="text" class="form-control" placeholder="0.00" aria-label="price" 
                    aria-describedby="price" name="kartingTrack[price]" id="price" required>
                <span class="input-group-text">/hr</span>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    This field is required!
                </div>
            </div>
        </div>  
        
        <div class="d-flex justify-content-end">
            <button class="btn btn-success col-12">Add Track</button>
        </div>
        </form>

        <a href="/kartTracks" class="btn btn-secondary col-12 mb-5">Back</a>

    </div>
</div>


