<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Track</title>
</head>
<body>

    <h1>New Track</h1>

    <form action="/kartTracks" method="POST">
        <div>
            <label for="name">Name: </label>
            <input type="text" id="name" name="kartingTrack[name]">
        </div>
        <div>
            <label for="location">Location: </label>
            <input type="text" id="location" name="kartingTrack[location]">
        </div>
        <div>
            <label for="description">Description: </label>
            <input type="text" id="description" name="kartingTrack[description]">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="kartingTrack[price]">/hr
        </div>

        <button>Add Track</button>
    </form>

    <a href="/kartTracks">Back</a>
    
</body>
</html>